/* Common general styles can go in this file*/
.main-search-bar {
    display: inline-block;
}

This is the main container on the home screen
#main-holder{
    height: 400px;
    /* background-color: blueviolet; */
    width: 100%;
    float: left;
    background-image: url(../imgs/test.jpg);
}